@{
    ViewData["Title"] = "Index";
    Layout = "_Layout-2";
}
@section css {
    <link href="@Url.Content("~/css/AboutUs.css")" rel="stylesheet" />
}


<div class="aboutuspage">
    <div class="aboutUsTitle">
        <p>אודות</p>
    </div>
    <hr style="width: 1350px;">

    <div class="row rowAboutUs">
        <div class="offset-1"></div>


        <div class="col-xl-5 ">
            <img class="rightImg" sizes=""
                 src="~/images/office-boardroom-meeting-table-boardroom-meeting-office-meeting-business-meeting.jpg" />
        </div>
        <div class="col-xl-5 about">
            <p>
                מה כותבים באודות?
                <br />
                אודות לא אמור להיות ארוך, לא יותר מעמוד אחד במסך. אם אתם מעוניינים להוסיף רקע היסטורי על העסק או
                כתיבת תוכן שיווקי עשו זאת בעמודים אחר וקשרו אותם לאודות. אנשים המעוניינים לקבל מידע על מה העסק לא
                מתכוונים לקרוא גיליונות מידע שלמים, לכן כתיבת תוכן וכתיבת מאמרים רצוי להשאיר לעמודים נפרדים. עדיף
                לשלוט במידע שמגיע אליהם על ידי בניית אודות קצר וקולע אך יחד עם זאת מקיף.
                • האודות יהיה בנוי מכמה פסקאות. פסקה ראשונה היא מידע כללי על העסק. יש לכתוב מתי הוקם או כמה שנים הוא
                פעיל, מי הבעלים וכמובן את תחומי העיסוק שלו בקצרה.
                • בפסקה השנייה תרחיבו על תחומי העיסוק ועל צורת העבודה של העסק. נדגים: אם העסק הוא משלוחים בכל הארץ
                הסבירו כיצד המשלוחים נעשים - מי העובדים בעסק. ההסבר יעשה בקצרה, בקטגוריית מאמרים תוכלו להרחיב על
                הנושא על ידי כתיבת מאמרים איכותית.
            </p>
        </div>
    </div>
    <div class="row secrow">
        <div class="offset-1"></div>
        <div class="col-xl-5 about2">
            <p>
                <br />• פסקה שלישית תכלול את החזון של העסק, האני מאמין של העסק. כדי לבנות את החזון שאלו את עצמכם
                "למה בניתי במו ידיי את העסק? מה טוב הוא מוסיף לעולם?".
                <br />• החזון מורכב גם מכמה חלקים שמתכנסים לפסקה אחת- האני מאמין שעומד מאחורי העסק, איזה שינוי אתם
                רוצים לחולל בעתיד הרחוק ולאן אתם שואפים שהעסק יתפתח.
            </p>
        </div>
        <div class="col-xl-5">
            <iframe class="Video" src="https://www.youtube.com/embed/orMsXcvVG7M" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <!-- <div class="col-4 about2">
            <p>
                <br />• פסקה שלישית תכלול את החזון של העסק, האני מאמין של העסק. כדי לבנות את החזון שאלו את עצמכם "למה בניתי במו ידיי את העסק? מה טוב הוא מוסיף לעולם?".
                <br />• החזון מורכב גם מכמה חלקים שמתכנסים לפסקה אחת- האני מאמין שעומד מאחורי העסק, איזה שינוי אתם רוצים לחולל בעתיד הרחוק ולאן אתם שואפים שהעסק יתפתח.
            </p>
        </div>
        <div class="col-5">
            <iframe class="Video" src="https://www.youtube.com/embed/orMsXcvVG7M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div> -->
    </div>
</div>