@{
    ViewData["Title"] = "Index";
}
@section css {
    <link href="@Url.Content("~/css/HomePage.css")" rel="stylesheet" />
}


    <div class="headerMiddle">

        <div class="text-center ">
            <div class=" d-none d-lg-block">
                <img class="icon" src="./images/icon.png" alt="">
            </div>

            <br /><br /><br />
            <h1 class="firstline">מהיום לא רודפים יותר אחרי חשבוניות</h1>

            <br />
            <h2 class="secline">
                הצטרפו עכשיו לעולם מסודר יותר, כאן תמצאו את ארנק החשבוניות הדיגטלי מכל
                מקום!
            </h2>
            <br /><br /><br />
            <div style="padding-bottom:100px;">
                <button class="headerbtn" type="button" onclick="window.location.href='./Register.html'">
                    להצטרפות
                </button>
            </div>
        </div>
    </div>

