@{ ViewData["Title"] = "View Invoice";
                Layout = "_AdminLayout"; }
@*@section css {
    <link href="@Url.Content("~/css/ViewInvoices.css")" rel="stylesheet" />
}*@


<div style="margin-top: 50px;" id="content-wrapper" class="myAccountCss d-flex flex-column">
    <div class="container">
        <h1 class="MainTitel">זיכויים</h1>
        <div>
            <input id="myInput" type="text" name="search" placeholder="חיפוש...">
        </div>
        <table class="table table-striped table-bordered">
            <tr class="thead-dark">
                <th style="background-color: black !important">שם הלקוח</th>
                <th style="background-color: black !important">שם החנות</th>
                <th style="background-color: black !important">קטגוריה</th>
                <th style="background-color: black !important">תוקף זיכוי</th>
                <th style="background-color: black !important">סכום</th>
            </tr>
            <tr>
                <td>אביה שלמה</td>
                <td>ZARA</td>
                <td>ביגוד</td>
                <td>01/11/2021</td>
                <td>400</td>
            </tr>
            <tr>
                <td>עידן רייכל</td>
                <td>עידן 2000</td>
                <td>צעצועים</td>
                <td>02/02/2020</td>
                <td>300</td>
            </tr>
            <tr>
                <td>בר שרעבי</td>
                <td>ADIDAS</td>
                <td>ביגוד</td>
                <td>11/07/2019 </td>
                <td>500</td>
            </tr>
            <tr>
                <td>יחיאל רווה</td>
                <td>Shoshi-Yegudayov</td>
                <td>של הביוקר!</td>
                <td>23/07/2019 </td>
                <td>999</td>
            </tr>
            <tr>
                <td>מאיר חמו</td>
                <td>מחסני-חשמל</td>
                <td>חשמל</td>
                <td>11/07/2019 </td>
                <td>800</td>
            </tr>
        </table>
    </div>



    <!--End Contain-->


</div>