@{ ViewData["Title"] = "Index";
    Layout = "_AdminLayout"; }

@section css {
    <link href="@Url.Content("~/css/NewInvoice.css")" rel="stylesheet" />
}

<div id="mainDiv" class="row">
    <div class="col-1"></div>
    <form id="contact-form" name="contact-form" class="MyForm">
        <div class="row">
            <h2 class="h1-responsive font-weight-bold text-center my-4" style="padding-right: 13px;">
                הזן
                פרטי זיכוי
            </h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label for="subject" class="">שם המשתמש</label>
                    <input type="text" id="subject" name="subject" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label for="subject" class="">שם החנות</label>
                    <input type="text" id="subject" name="subject" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label for="subject" class="">תוקף זיכוי</label>
                    <input type="date" id="subject" name="subject" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label for="subject" class="">סכום</label>
                    <input type="number" id="subject" name="subject" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="md-form form-group">
                    <label for="subject" class="">קטגוריה</label>
                    <select class="form-control">
                        <option></option>
                        <option>ביגוד והנעלה</option>
                        <option>ביטוח</option>
                        <option>חשמל</option>
                        <option>דלק</option>
                        <option>מזון</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <input style="background-color: black !important" class="btn btn-primary btn-block sendButton " type="submit" value="שליחה" />
        </div>

    </form>
</div>

