@model IEnumerable<invoiceProject.Models.User>
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout-2";
}
@section css {
    <link href="@Url.Content("~/css/Form.css")" rel="stylesheet" />
}



<div class="wrapper fadeInDown">

    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> התחברות</h2>
        <h2 class="inactive underlineHover"><a asp-controller="Users" asp-action="Register">הרשמה</a></h2>



        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="התחברות">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="סיסמה">
            <input type="submit" class="fadeIn fourth" value="התחבר">
        </form>

        <!-- Remind Passowrd
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div> -->

    </div>
</div>